/* Variables */
:root {
    --body-bg-color: unset;
    --body-font-color: #091814;
    --std-border: #163a16;
    --hover-border: #1e7f20;
    --std-link-color: #ad9612;
    --light1: #afca2f;
    --light2: #609e15;
}

/* Elements */

* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    color: var(--body-font-color);
    background-color: var(--body-bg-color);
}

a {
    color: var(--std-link-color);
    text-decoration: none;
}

/* Classy Elements */

header.top {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header.top h1 {
    font-size: 300%;
    position: relative;
    top: 20px;
    left: -25px;
    background-color: var(--light1);
    padding: .1em;
    border-radius: 10px;
}

#banner img {
    position: relative;
    width: 215px;
    left: 7em;
    border-radius: 110px;
    box-shadow: 0 0 25px var(--body-font-color);
    transition: all 0.4s ease-in-out;
}

#banner img:hover {
    transform: rotate(-5deg);
    box-shadow: 0 0 75px;
}

header.top nav {
    width: 50%;
    height: 4em;
}

header.top nav ul {
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}

header.top nav ul li a {
    font-family: monospace;
    color: var(--hover-border);
    font-size: 170%;
    display: flex;
    border: 3px solid var(--std-border);
    padding: 0.5% 2%;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

header.top nav ul li a:hover {
    font-size: 175%;
    box-shadow: 0 0 10px #000;
    border-color: var(--hover-border);
}

header.top nav ul li a:active {
    font-size: 150%;
}

header.top nav ul li a:focus {
}

#banner {
    height: 300px;
    background-image: url(../image/green.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    position: relative;
    right: 5em;
    font-size: 150%;
    padding: 0.5em;
    background-color: var(--light1);
    box-shadow: 0 0 10px var(--light2);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.banner-text:hover {
    transform: skew(5deg);
    color: #FFF;
    background-color: var(--light2);
    box-shadow: 0 0 50px var(--body-font-color);
}

main {
    margin-top: 2em;
    width: 100%;
}

/* Main Sections */

.content-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.content-section header {
    display: flex;
    justify-content: flex-end;
    width:10%;
    padding: 1em 0;
    margin-left: 5em;
    margin-right: 3em;
}

.content-section header h2 {
    font-size: 150%;
}

.content-section div {
    width:82%;
    min-height: 2em;
    padding: 1em 5em;
    border-left: 4px solid var(--std-border);
}

#about-me {}

#about-me header {}

#about-me header h2 {}

#about-me div p {
    padding-bottom: 0.5em;
}

#about-me div p:last-child {
    padding-bottom: 0;
}

#work {
}

#work header {
}

#work header h2 {
}

#work section.work-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 82%;
    min-height: 2em;
    padding: 1em 5em;
    border-left: 4px solid var(--std-border);
}

/* #work div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 40em;
    min-height: 20em;
} */

#work .work-item {
    min-width: 33%;
    min-height: 10em;
    display: flex;
    margin: 2em 1em;
    padding: 1em;
    border: 5px solid var(--std-border);
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: 160%;
    background-color: var(--light1);
    box-shadow: 0 0 10px var(--light2);
    border-radius: 10px;
    font-family: monospace;
    transition: all 0.1s ease-in-out;
}

#work .work-item:hover .work-item-title {
    padding: 1.5em;

}

#work .work-items-container a {
    width: 32%;
}

#work .work-items-container a:first-of-type {
    width: 66%;
}

#work .work-items-container a:first-of-type .work-item {
    height: 20em;
    margin-top: 0;

}

#work .work-items-container a:nth-of-type(2) .work-item {
    height: 20em;
    margin-top: 0;
}

/* #work .work-items-container section:first-of-type {
    min-width: 40em;
    min-height: 20em;
} */

#work .work-item h3 {

}

#work .work-item p {
    font-size: 90%;
}

/* .work-item h3,p {
    background-color: var(--body-font-color);
    border: 2px solid var(--std-border);
    border-radius: 5px;
} */

#work section.work-items-container a section.work-item div.work-item-title {
    background-color: var(--body-font-color);
    border: 2px solid var(--std-border);
    border-radius: 5px;
    padding: 0.25em;
    min-height: unset;
}

.work-item[data-id="vrc"] {
    background-image: url("../image/vrc.png");
}

.work-item[data-id="refactor"] {
    background-image: url("../image/refactor.png");
}

.work-item[data-id="vteu"] {
    background-image: url("../image/vteu.png");
}

.work-item[data-id="muse"] {
    background-image: url("../image/muse.png");
}

.work-item[data-id=""] {
    background-image: url("../image/vrc.png");
}

#contact-me {

}

#contact-me header {

}

#contact-me header h2 {

}

#contact-me div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-me div p {
    margin: 5px 25px;
    font-size: 160%;
    padding: 0.5em;
    background-color: var(--light1);
    box-shadow: 0 0 10px var(--light2);
    border-radius: 10px;
    font-family: monospace;
    transition: all 0.1s ease-in-out;
}

#contact-me div p:hover {
    transform: skew(-5deg);
    color: #FFF;
    background-color: var(--light2);
    box-shadow: 0 0 50px var(--body-font-color);
}

#contact-me div p:hover a {
    color: #FFF;;
}

#resume {}

#resume header {}

#resume header h2 {}

#resume div {
    display: flex;
    align-items: center;
}

#resume div p {

}

footer {
    display: flex;
    justify-content: center;
    margin: 2% 0%;
    padding-bottom: 1em;
}

.to-top {
    position: fixed;
    bottom: 0px;
    right: -5px;
    padding: 5px;
    margin: 10px;
    background-color: var(--body-font-color);
    border: 2px solid var(--std-border);
    border-radius: 10px;
    z-index: 99;
    transition: all 0.2s ease-in-out;
}

.to-top:hover {
    box-shadow: 0 0 35px var(--body-font-color);
}

.to-top:hover a::before {
    content: "Go to top";
    right:0px;
}

.to-top:hover a {
    color: #FFF;
    font-size: 110%;
}