/* Variables */
:root {
    --body-bg-color: unset;
    --body-font-color: #091814;
    --purple-bg-color: #724472;
    --purple-highlight-color: #621d62;
    --std-border: #163a16;
    --hover-border: #1e7f20;
    --def-link-color: #ad9612;
    --light1: #afca2f;
    --light2: #609e15;
}

/* Elements */

* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px; /* height of sticky header */
}

body {
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Homemade Apple', cursive; */
    font-family: 'Special Elite', cursive;
    color: var(--body-font-color);
    background-color: var(--body-bg-color);
    background-image: url('../img/green-gradient-clouds.jpg'), url('../img/orange-and-green.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 75%, cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: var(--purple-bg-color) !important;
}

main {
    flex: 1 0 auto;
    width: 75%;
    margin: 0 auto;
}

a {
    color: var(--purple-highlight-color);
    text-decoration: none;
}

main a:hover {
    border-bottom: 1px solid var(--purple-bg-color);
}

footer a:hover {
    border-bottom: 1px solid var(--def-link-color);
}

nav img {
    width: 50px;
    float: left;
    padding-top: 5px;
    margin: 0 15px;
    clip-path: circle(45% at 50% 55%);
}

nav ul a {
    font-size: 1.2rem !important;
}

h3, h4 {
    font-family: 'Permanent Marker', cursive;
}

h3.header {
    opacity: 0;
    cursor: default;
    margin-top: 0.5rem;
    line-height: 0px;
}

h4 {
    margin-top: 0.4rem !important;
}

img#profile-pic {
    width: 250px;
    filter: brightness(100%) !important;
}

/* Classes */

.site-purple {
    background-color: var(--purple-bg-color);
}

.site-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.site-row-container {
    display: flex;
    justify-content: space-evenly;
}

.site-fswd-highlight {
    color: var(--purple-highlight-color);
    text-decoration: underline;
    border-radius: 5px;
    padding: 5px 2px 3px 2px;
}

.site-fswd-highlight:hover {
    text-decoration: none;
    box-shadow: 3px 3px 3px;
}

#banner {
    margin: 20px 0;
}

.banner-text {
    position: relative;
    top: 2rem;
    width: 14rem;
    color: #FFF;
    font-size: 150%;
    padding: 0.5rem;
    background-color: var(--purple-bg-color);
    box-shadow: 0 0 10px var(--light2);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.banner-text:hover {
    color: var(--light1);
    box-shadow: 0 0 50px var(--body-font-color);
    transform: skew(3deg, 1deg);
}

#banner img {
    position: relative;
    width: 215px;
    left: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--body-font-color);
    transition: all 0.4s ease-in-out;
}

#banner img:hover {
    transform: rotate(-2deg);
    box-shadow: 0 0 75px;
}

nav .brand-logo {
    font-family: 'Permanent Marker', cursive;
}

.sidenav-overlay {
    z-index: 996 !important;
}

span.badge.new {
    background-color: var(--light2) !important;
    font-family: 'Special Elite', cursive;
}

.card .card-title {
    background-color: var(--purple-bg-color) !important;
    padding: 12px 24px !important;
    margin: 5px;
}

.card .card-image img {
    padding: 5px !important;
    border-radius: 15px !important;
    filter: brightness(75%);
    transition: filter 0.4s ease-in-out;
}

.card:hover .card-image img {
    filter: brightness(100%);
}

.card .card-content p:last-child {
    margin-top: 10px;
}

.my-fab {
    background-color: var(--purple-highlight-color) !important;
    bottom: -15px !important;
}

.my-fab:hover {
    background-color: var(--purple-bg-color) !important;
    box-shadow: 3px 3px 5px #000;
}

.preview-fab-btn {
    right: 75px !important;
}

.contact-me-item {
    text-align: center;
}

.contact-me-item i {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.page-footer {
    background-color: var(--purple-bg-color) !important;
}

/* Media queries */
@media screen and (max-width: 1222px) {
    h3 {
        font-size: 1.92rem;
    }
    article.card-content {
        height: unset;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-size: 85%, cover;
    }
    main {
        width: 85%;
    }
    h4 {
        font-size: 1.65rem;
    }
    article.card-content {
        height: unset;
    }
}

@media screen and (max-width: 655px) {
    nav img {
        display: none;
    }
    section#my-work .card-title {
        font-size: 20px;
    }
    article.card-content {
        height: unset;
    }
}

@media screen and (max-width: 576px) {
    body {
        background-size: cover;
    }
    main {
        width: 100%;
    }
    .site-container {
        display: block;
    }
    h4 {
        font-size: 2.1rem;;
    }
    .card.horizontal {
        flex-direction: column;
    }
    article.card-content {
        height: unset;
    }
}