@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Permanent+Marker&family=Special+Elite&family=Norican&family=Material+Icons&display=swap');

:root {
    --body-bg-color: unset;
    --body-font-color: #091814;
    --purple-bg-color: #724472;
    --purple-highlight-color: #621d62;
    --std-border: #163a16;
    --hover-border: #1e7f20;
    --def-link-color: #ad9612;
    --darkgold: #b8860b;
    --light1: #afca2f;
    --light2: #609e15;
    --body-vw: 75vw;
    --scrollbar-width: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg-color);
    background-image: url(../public/assets/green-gradient-clouds.jpg), url(../public/assets/orange-and-green.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: var(--body-vw), cover;
    background-position: center;
    scrollbar-width: var(--scrollbar-width);
    -ms-overflow-style: none;
    font-family: 'Special Elite', cursive;
}

body::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

p {
    margin: 0;
    padding: 0;
    inset: 0;
    border: 0;
}

@media screen and (max-width: 774px) {
    body {
        background-size: 90vw, cover;
    }

    #contentContainer {
        width: 90vw;
    }
}
@media screen and (max-width: 576px) {
    body {
        background-size: cover;
    }
}