@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Permanent+Marker&family=Special+Elite&family=Norican&family=Material+Icons&display=swap');

:root {
    --body-vw: 75vw;
    --scrollbar-width: 5px;
    --body-bg-color: unset;
    --font-size-title: 2rem;
    --black: rgba(9, 24, 20, 0.95);
    --black-flat: rgb(9, 24, 20);
    --white: rgba(255, 255, 255, 0.85);
    --white-flat: rgb(255, 255, 255);
    --shade: rgba(0,0,0,0.1);
    --purple-light: rgba(114, 68, 114, 0.999);
    --purple-dark: rgba(98, 29, 98, 0.999);
    --green-normal: rgba(30, 127, 32, 0.999);
    --green-normal-shade: rgba(30, 127, 32, 0.2);
    --green-light: rgba(96, 158, 21, 0.999);
    --green-light-shade: rgba(96, 158, 21, 0.2);
    --green-dark: rgba(22, 58, 22, 0.999);
    --green-dark-shade: rgba(22, 58, 22, 0.2);
    --green-yellow: rgba(176, 202, 47, 0.999);
    --gold-light: rgba(173, 150, 18, 0.999);
    --gold-dark: rgba(184, 135, 11, 0.999);
    --border-radius-original: 0.75rem;
    --border-radius-hover: calc(var(--border-radius-original) * 2);
    --box-shadow-original: 3px 3px 5px 1px rgba(0, 0, 0, 10%);
    --box-shadow-hover: 5px 5px 7px 2px rgba(0, 0, 0, 25%);
    --box-shadow-reverse: -5px -5px 7px 2px rgba(0, 0, 0, 25%);
    --transition-time-int:350ms;
    --transition-time-normal: var(--transition-time-int);
    --transition-time-fast: calc(var(--transition-time-int) - 100ms);
    --transition-time-slow: calc(var(--transition-time-int) + 150ms);
    --font-family1: "Special Elite", cursive;
    --font-family2: "Homemade Apple", cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg-color);
    background-image: url(../public/assets/green-gradient-clouds.jpg), url(../public/assets/orange-and-green.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: var(--body-vw), cover;
    background-position: center;
    scrollbar-width: var(--scrollbar-width);
    -ms-overflow-style: none;
    font-family: var(--font-family1);
}

body::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

p {
    margin: 0;
    padding: 0;
    inset: 0;
    border: 0;
    line-height: 1.2;
}

@media screen and (max-width: 825px) {
    body {
        background-size: 90vw, cover;
    }

    #contentContainer {
        width: 90vw;
    }
}
@media screen and (max-width: 576px) {
    body {
        background-size: cover;
    }
}